.item-color {
  background-color: rgb(243, 222, 225);
  text-align: center;
  
}


.header {
  display: flex;
  // justify-content: space-around;
  // height: 60px;
  // padding: 5px 140px;
  
}



.footer {
  height: calc(100vh - 160px);
  position: relative;
}

.actions {
  height: 100%;
}

#tinderslide {
  height: calc(100vh - 140px);
  
}




.button-real-dent {
  /*ボタン自体*/
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  font-size: 40px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #b5b5b5;
  color: rgba(3, 169, 244, 0.54);
  margin: 0 80px;
}


  

.sub-main {
  position: relative;
  display: block;
  width: 335px;
  // height: 50px;
  margin: 0 auto;
}

.sub-image {
  display: block;
  height: 500px;
  box-shadow: 0 0 20px gray;
  border-radius: 30px;
  position: absolute;
  top: 30px;
}

.noUser {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  font-size: 20px;
  width: 100%;
  text-align: center;
  &.is-active {
    display: block;
  }
}