<div class="talk-home">
      <div class="header">
      <%= link_to homes_path do %><i class="fas fa-globe fa-3x"></i> <% end %> <!-- マイページに遷移 -->
      <%= link_to user_talks_path(current_user.id) do %><i class="fas fa-comment fa-3x"></i><% end %> <!-- トーク画面に遷移 -->
      <%= link_to  user_path(current_user.id) do %><i class="fas fa-user-md fa-3x"></i><% end %> <!-- マイページに遷移 -->
  </div>
  </div>
  <div class="search">
  <input type="text" class="fas fa-search" placeholder="&#xf002; マッチの検索" style="font-family: Font Awesome 5 Free;">
</div>
  <div class="item-message">
  <div class="message-wrap">
  <p class="messages">新しいマッチ</p>
</div>
  <div class="woman-image">
  <a href="#" class="woman"><img src="/assets/ldmwZAWwTzuuMUm1604628340_1604628549.png" width="70px"></a>
</div>
<div class="message-wrap">
  <p class="messages">メッセージ</p>
</div>
<div class="woman-image">
  <a href="#" class="woman"><img src="/assets/ldmwZAWwTzuuMUm1604628340_1604628549.png" width="70px"></a>
  <p class="name">よしこ</p>
  <p class="message-top">こんにちわ！！</p>
</div>

  </div>