<div class="back">
<%= link_to user_talks_path(current_user.id) do %><i class="fas fa-chevron-left back-button" ></i><% end %>
     <img src=<%= @talk_room_user.image %> class="talkPartner_img">
      <div class="talkPartner_name"><%= @talk_room_user.nickname %></div>
    </div>
    <div class="talk">
      <%= render @talk_messages %>
    </div>
      <div class="submit">
        <textarea class="submit-message" placeholder="メッセージを入力"></textarea>
        <input type="submit" class="send" value="送信" data-behavior="room_speaker">
      </div>