<div class="item">
      <div class="header">
      <a href="#"><i class="fas fa-globe fa-3x"></i></a>  <!-- ホーム画面に遷移 -->
      <a href="#"><i class="fas fa-comment fa-3x"></i></a> <!-- トーク画面に遷移 -->
      <a href="#"><i class="fas fa-user-md fa-3x"></i></a> <!-- マイページに遷移 -->
  </div>
  <div class="main">
    <a href="#"><img src="/assets/2f16139eaa87a54b96f04fa7bdc39b79_w.jpg" class="main-image"></a>  <!-- 相手ページに遷移？ -->
  </div>
  <div class="footer">
    <a href="#" class="btn-real-dent"><i class="fas fa-heart"></i></a> <!-- like -->
      <a href="#" class="btn-real-dent"><i class="fas fa-heart-broken"></i> <!-- dislike -->
    </a>
  </div>
  </div>