<div class="talk_left">
    <% talk_message.user.nickname %>
      </div>

      <div class="time-left">
        <p>15:55</p>
      </div>
      <div class="talk_right">
        <% talk_message.user.nickname %>
      </div>

      <div class="time-right">
        <p>15:56</p>
      </div>