.header {
  display: flex;
  justify-content: space-around;
  height: 60px;
  padding: 5px 140px;
}

.talk-main-wrap {
  display: flex;
  justify-content: center;
  background-color: rgb(248, 244, 244);
  margin-top: 30px;
  border-top: solid 1px rgb(202, 199, 199);
}

.talk-main {
  width: 80vw;
}

.search {
  display: flex;
  justify-content: center;
}

input {
  width: 60vw;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-top: 30px;
}

.item-message {
  height: 100vh;
  padding-top: 20px;
}

.message-wrap {
  display: flex;
  justify-content: left;
  margin: 5px 0 0 120px;
}

.messages {
  text-align: left;
  color: rgb(236, 199, 205);
}

.woman-image {
  display: flex;
  justify-content: left;
  margin: 5px 0 0 120px;
}

.woman {
  text-align: left;
  margin-top: 15px;
  display: block;
}


 .message-top {
  margin: 10px;
 }

 .woman-message-wrap {
  margin: 20px 0 0 30px;
 }

