.header {
  display: flex;
  justify-content: space-around;
  height: 60px;
  padding: 5px 140px;
}

.talk-main-wrap {
  display: flex;
  justify-content: center;
  background-color: rgb(248, 244, 244);
  margin-top: 30px;
  border-top: solid 1px rgb(202, 199, 199);
}

.talk-main {
  width: 80vw;
}

.search {
  display: flex;
  justify-content: center;
}

input {
  width: 60vw;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-top: 30px;
}

.item-message {
  height: 100vh;
  padding-top: 20px;
}



.woman-image {
  margin: 5px 0 0 50px;
  display: inline-block;
}

.man img{
  margin-top: 15px;
  display: block;
  border-radius: 60px;
  width: 70px;
  margin-bottom: 15px;
}


 .message-top {
  margin: 5px 50px 0 0;
 }

 .woman-message-wrap {
  margin: -60px 0 0 210px;
 }


 .Messages {
  text-align: left;
  color: rgb(236, 199, 205);
  margin: 0 20px 0 50px;
 }

 .name {
   display: block;
   margin-left: 150px;
   margin-top: -75px;
   margin-bottom: 70px;
 }

 .messages-talk {
  margin-left: 155px;
  margin-top: -65px;
   margin-bottom: 60px;
 }

 .woman img {
  margin-top: 15px;
  display: block;
  border-radius: 60px;
  width: 70px;
 }

 .messages {
  text-align: left;
  color: rgb(236, 199, 205);
  margin: 30px 20px 0 50px;
 }